{% extends 'master.html' %}
{% load static %}
{% block conteudo %}
<div class="container mt-3">
    <h1>Lista de Dietas</h1>
    
    <!-- Formulário de busca -->
    <form method="get" class="form-group my-4 d-flex justify-content-center mx-auto">
        <div class="col-8 col-lg-4">
            <div class="input-group">
                <input class="form-control" id="txtBuscaNomeAlimento" name="query" value="{{ query }}" type="text"
                    placeholder="Informe o nome de um alimento..." style="border-radius: 20px 0 0 20px;">
                <div class="input-group-append">
                    <button type="submit" class="botao" style="border-radius: 0 20px 20px 0;"><img
                            src="{% static 'img/search.png' %}" width="20"
                            style=" margin-right: 3px; filter: brightness(0) invert(1)"></button>
                </div>
            </div>
        </div>
    </form>
    <!-- Botão de inserir -->
    <div class="form-group row mr-1 justify-content-end">
        <button class="botao" onclick="window.location.href='{% url 'dietas:inserir_dieta' %}'"
            style="display: flex; align-items: center;">
        <img src="{% static 'img/add_circle.png' %}" width="20"
             style="margin-right: 3px; filter: brightness(0) invert(1);">
        Inserir
    </button>

    </div>
    <!-- Contador de registros -->
    <legend class="text-center small">
        {% if page_obj.paginator.count == 0 %}
        <p class="text-center">Nenhuma dieta encontrada.</p>
    </legend>
    {% elif page_obj.paginator.count == 1 %}
    1 dieta encontrada
    <div class="container text-center">
        {% include 'dietas_table.html' %}
        {% include "paginador.html" %}
    </div>
    </legend>
    {% else %}
    {{ page_obj.paginator.count }} dietas registradas
    <div class="container text-center">
        {% include 'dietas_table.html' %}
        {% include "paginador.html" %}
    </div>
    </legend>
    {% endif %}
</div>
<script type="module" src="{% static 'js/crud_dietas.js' %}"></script>
<script>
    const csrf_token = '{{ csrf_token }}';
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = csrf_token;
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const botoes = document.querySelectorAll('.btn-ver-dieta');
        botoes.forEach(botao => {
            botao.addEventListener('click', (event) => {
                const id = botao.dataset.id;
                window.location.href = `/gerenciar_dietas/${id}/`;
            });
        });
    });
</script>

{% endblock %}