{% load static %}
<table class="table-responsive-sm tabela" style="font-size: 1.2em;">
    <thead>
        <tr>
            <th>Exigência</th>
            <th>Peso Vivo</th>
            <th>Fase - Meses</th>
            <th>Esforço</th>
            <th class="d-none d-sm-table-cell">ED</th>
            <th class="d-none d-sm-table-cell">PB</th>
            <th class="text-end">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for exigencia in exigencias %}
        <tr class="container"
            data-id="{{ exigencia.id }}"
            data-nome="{{ exigencia.nome }}"
            data-id-class="{{ exigencia.categoria.id }}"
            data-pb="{{ exigencia.pb }}"
            data-ed="{{ exigencia.ed }}"
            data-categoria="{{ exigencia.categoria.id }}"
            {% if exigencia.is_active %}
                style="background-color: #ffffff3d"
            {% else %}
                style="background-color:rgba(190, 190, 190, 0.31)"
            {% endif %}>
            <td id="txtNome">{{ exigencia.nome }}</td>
            <td>{{ exigencia.categoria.peso_vivo }}</td>
            <td>{{exigencia.categoria.fase}}</td>
            <td>{{exigencia.categoria.esforco}}</td>
            <td class="d-none d-sm-table-cell">{{exigencia.ed}}</td>
            <td class="d-none d-sm-table-cell">{{exigencia.pb}}</td>
            <td class="text-end">{% if exigencia.is_active %}
                <button class="btn btn-sm desativar-btn" alt="Desativar" title="Desativar exigência">
                    <img src="{% static 'img/not_visibility.png' %}" width="20">
                </button>
                <button class="btn btn-sm update-btn" id="{{exigencia.id}}" title="Editar">
                    <img src="{% static 'img/edit.png' %}" alt="Alterar" width="20" height="20">
                </button>
                <button type="button" class="btn btn-sm composicao-btn" id="{{ exigencia.id }}" title="Composição da exigência">
                    <img src="{% static 'img/app_registration.png' %}" alt="Composição" width="20" height="20">
                </button>
                {% else %}
                    <button class="btn btn-sm ativar-btn" alt="Ativar" title="Ativar exigência">
                        <img src="{% static 'img/visibility.png' %}" width="20">
                    </button>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="4" class="text-center">Nenhuma exigência encontrada.</td></tr>
        {% endfor %}
    </tbody>
</table>
