{% load custom_filters %}
{% load static %}
<table class="tabela table-responsive-sm" style="font-size: 1.2em;">
    <thead>
        <tr>
            <th>Alimento</th>
            <th class="d-none d-sm-table-cell">Classificação</th>
            <th>Matéria Seca</th>
            <th>Proteína Bruta</th>
            <th  class="d-none d-sm-table-cell">Energia Digestiva</th>
            <th class="text-end">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for alimento in alimentos %}
        <tr class="container" data-id="{{ alimento.id }}" data-nome="{{ alimento.nome }}" data-id-class="{{ alimento.classificacao.id }}"
        {% if alimento.is_active %}
            style="background-color: #ffffff3d"
        {% else %}
            style="background-color:rgba(190, 190, 190, 0.31)"
        {% endif %}>
            <td id="txtNome">{{ alimento.nome }}</td>
            <td class="d-none d-sm-table-cell">{{alimento.classificacao.nome|truncar:2}}</td>
            <td>{{alimento.ms|truncar:2}} %</td>
            <td>{{alimento.pb|truncar:2}} Mcal</td>
            <td class="d-none d-sm-table-cell">{{ alimento.ed|truncar:2 }} %MS</td>
            <td class="text-end">{% if alimento.is_active %}
                <button class="btn btn-sm desativar-btn" alt="Ativar" title="Desativar alimento">
                    <img src="{% static 'img/not_visibility.png' %}" width="20">
                </button>
                <button class="btn btn-sm update-btn" id="{{alimento.id}}" title="Editar">
                    <img src="{% static 'img/edit.png' %}" alt="Alterar" width="20" height="20">
                </button>
                <button class="btn btn-sm composicao-btn" id="{{alimento.id}}" title="Composição do alimento">
                    <img src="{% static 'img/app_registration.png' %}" alt="Composição" width="20" height="20">
                </button>
                {% else %}
                <button class="btn btn-sm ativar-btn" alt="Desativar" title="Ativar alimento">
                    <img src="{% static 'img/visibility.png' %}" width="20">
                </button>
                {% endif %}
            </td>
        </tr>{% endfor %}
    </tbody>
</table>
<script>
    const imagemVisibilidade = "{% static 'img/visibility.png' %}";
    const imagemNVisibilidade = "{% static 'img/not_visibility.png' %}";
</script>