<nav aria-label="Page navigation" class="fs-6 mt-3">
   <ul class="pagination justify-content-center flex-wrap">
      {% if page_obj.has_previous %}
         <li class="page-item"><a class="page-link" href="?page=1&query={{ query }}">&laquo; primeira</a></li>
         <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&query={{ query }}">&lsaquo; anterior</a></li>
      {% else %}
         <li class="page-item disabled"><span class="page-link">&laquo; primeira</span></li>
         <li class="page-item disabled"><span class="page-link">&lsaquo; anterior</span></li>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
         {% if page_obj.number == num %}
            <li class="page-item active" aria-current="page"><span class="page-link">{{ num }}</span></li>
         {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
            <li class="page-item d-inline"><a class="page-link" href="?page={{ num }}&query={{ query }}">{{ num }}</a></li>
         {% elif num == 1 or num == page_obj.paginator.num_pages %}
            <li class="page-item d-none d-md-inline"><a class="page-link" href="?page={{ num }}&query={{ query }}">{{ num }}</a></li>
         {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
         <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&query={{ query }}">próxima &rsaquo;</a></li>
         <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&query={{ query }}">última &raquo;</a></li>
      {% else %}
         <li class="page-item disabled"><span class="page-link">próxima &rsaquo;</span></li>
         <li class="page-item disabled"><span class="page-link">última &raquo;</span></li>
      {% endif %}
   </ul>
</nav>