{% extends 'master.html' %}
{% load static %}
{% block conteudo %} 
<!-- 
    @Nicole dá uma olhada nessa proposta, SEU CÓDIGO TÁ FORA DA TAG ENDBLOCK, SE NÃO GOSTAR DA IDEIA SÓ PEGAR DE VOLTA E REMOVER ESSE DO BLOCO
    Tô usando o framework de front para ficar responsivo em telas pequenas e grandes
-->

<div class="container mt-3 py-4" > <!-- o container "embala" os elementos dando um espaçamento horizontal padrão; o py-4 dá um padding no eixo y de 4 unidades do bootstrap -->

    <!-- Apresentação-->
    <div class="row align-items-center" >
        <h1 class="mx-auto text-center mb-5"><!-- text-center centraliza o texto; mx-auto alinha a horizontal automaticamente; mb-4 dá uma margem abaixo do elemento de 4 unidades do bootstrap-->
            Software para Cálculo e Gestão da Dieta de Equinos: <br>Tecnologia a Serviço da Nutrição e Bem-Estar Animal
        </h1>
        <div class="mx-auto" style="max-width: 900px;">
            <!-- Texto completo - visível em telas médias -->
            <h2 class="h5 text-center mx-5 d-none d-md-block">
                A nutrição equina é essencial para a saúde, desempenho e bem-estar dos cavalos, mas muitos criadores enfrentam dificuldades na formulação de dietas equilibradas devido à falta de conhecimento técnico, à complexidade dos cálculos nutricionais e ao difícil acesso a ferramentas adequadas. Embora existam diretrizes confiáveis para alimentação equina, sua aplicação prática ainda é limitada, especialmente entre pequenos criadores. Diante disso, este projeto de extensão propõe o desenvolvimento de um software acessível e intuitivo para cálculo e gestão de dietas equinas, com base em parâmetros científicos, visando facilitar a elaboração de planos alimentares personalizados conforme as necessidades específicas de cada animal.
            </h2>

            <!-- Texto reduzido - visível apenas em telas pequenas -->
            <h2 class="h5 text-center mx-5 d-block d-md-none">
                A nutrição equina é essencial para a saúde e desempenho dos cavalos, mas muitos criadores enfrentam dificuldades por falta de conhecimento técnico e acesso a ferramentas adequadas. Este projeto propõe um software intuitivo e acessível, baseado em parâmetros científicos, para facilitar a formulação de dietas personalizadas para diferentes categorias de equinos.
            </h2>
        </div>  
    </div>
    
    <!-- Gerenciamento de Alimentos -->
    <div class="row align-items-center mt-5">
        <!-- texto -->
        <div class="col">
            <h1 class="m-4">Gerenciamento de Alimentos</h1>
            <div class="mx-4" style="max-width: 410px;">  
                <ul>
                <li style="list-style-type: square"><h3>Pesquisa dos alimentos </h3> </li>
                
                <h2 class="ml-3 h5">
                    O sistema possui ampla base de dados com diversos alimentos que podem compor a dieta dos animais. 
                    Você pode pesquisar facilmente o alimento que deseja dentro dessa variedade e encontrá-lo com praticidade.
                </h2>
                <li style="list-style-type: square">
                <h3>Adição, remoção e atualização de dados alimentares</h3>
                <h2 class="ml-3 h5">
                    Um sistema de nutrição eficiente exige flexibilidade. Por isso, desenvolvemos uma interface intuitiva para que você possa cadastrar, 
                    editar ou remover alimentos, nutrientes, e composições alimentares, garantindo precisão e controle a qualquer momento.
                </h2>
                </ul>
            </div>
        </div>
        <!-- imagem -->
        <div class="col-md-5 text-center">
            <img src="/static/img/graos.png" class="img-fluid" alt="Grãos" >
        </div>
    </div>
    
    <!-- Gerenciamento de Exigências -->
    <div class="row align-items-center mb-5">
        <div class="col-md-5 text-center">
            <img src="/static/img/exigencia_home.png" class="img-fluid" alt="Exigencia" style="width: 250px">
        </div>
        <div class="col">
            <h1 class="m-4">Gerenciamento de Exigências</h1>
            <div class="mx-5" style="max-width: 410px;">
                <ul>
                <li style="list-style-type: square"><h3>Atualização de dados de exigências</h3></li>
                <h2 class="ml-3 h5">
                    Nosso sistema permite o cadastro e a edição das exigências nutricionais de acordo com a categoria do cavalo. De forma simples e organizada,
                    é possível manter atualizados os valores exigidos para cada nutriente, facilitando o controle e a gestão dos dados.
                </h2>
                <li style="list-style-type: square"><h3>Pesquisa de exigências</h3></li>
                <h2 class="ml-3 h5">
                   Encontre rapidamente as exigências nutricionais já cadastradas no sistema por meio de uma busca eficiente. Você poderá buscar por categoria do cavalo, 
                   ou seja, o nome da exigência, facilitando a visualização e o gerenciamento das informações disponíveis.
                </h2>
                </ul>
            </div>
        </div>
    </div>

    <!-- Gerenciamento de Animais -->
    <div class="row align-items-center mt-5">
        <!-- texto -->
        <div class="col">
            <h1 class="m-4">Gerenciamento de Animais</h1>
            <div class="mx-4" style="max-width: 410px;">  
                <ul>
                <li style="list-style-type: square"><h3>Cadastro e organização </h3> </li>
                
                <h2 class="ml-3 h5">
                    O sistema permite registrar todos os animais de forma clara e organizada, incluindo nome, idade, categoria, peso e demais informações essenciais. 
                    Assim, você mantém um controle completo dos equinos e acessa rapidamente os dados de cada um.
                </h2>
                <li style="list-style-type: square">
                <h3>Pesquisa e atualização dos dados</h3>
                <h2 class="ml-3 h5">
                    Com a busca integrada, é possível localizar qualquer animal com facilidade. 
                    Além disso, os dados podem ser atualizados a qualquer momento, garantindo precisão no acompanhamento nutricional e na gestão individual de cada cavalo.
                </h2>
                </ul>
            </div>
        </div>
        <!-- imagem -->
        <div class="col-md-5 text-center">
            <img src="/static/img/cavalo_home_esdc.png" class="img-fluid" alt="Animais" >
        </div>
    </div>

    <!-- Gerenciamento de Dietas -->
    <div class="row align-items-center mb-5">
        <div class="col-md-5 text-center">
            <img src="/static/img/dieta.png" class="img-fluid" alt="Dieta" >
        </div>
        <div class="col">
            <h1 class="m-4">Gerenciamento de Dietas</h1>
            <div class="mx-5" style="max-width: 410px;">
                <ul>
                <li style="list-style-type: square"><h3>Cadastro e balanceamento da dieta</h3></li>
                <h2 class="ml-3 h5">
                    O sistema oferece ferramentas para montar dietas personalizadas de acordo com as necessidades nutricionais do animal, fazendo o cálculo automático do balanceamento da dieta, possibilitando criar a melhor dieta possível. 
                    É possível adicionar alimentos e visualizar a contriubuição de cada um na nutrição do animal de forma simples e rápida.
                </h2>
                <li style="list-style-type: square"><h3>Visualização e edição</h3></li>
                <h2 class="ml-3 h5">
                    Visualize as dietas nutricionais já cadastradas no sistema por meio de uma listagem eficiente das mesmas.
                    O sistema também oferece a possibilidade de editar as dietas cadastradas quando quiser, facilitando o controle da alimentação do animal.
                </h2>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}